/* Style sheet */
* {
    background-color: #1F2937;
}

.header {
 background-color: #1F2937;
 display: flex;
 justify-content: space-around;
 padding: 8px;
 
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.linkh {
    text-decoration: none;
    color: #F9FAF8; 
}

.linkh:active {
    color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 35px;
}

.right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}

/* Aqui empieza la seccion 2 */

.sec2 {
    padding-left: 100px;
    padding-right: 80px; 
    padding-top: 45px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.sec21 {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.title1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text1 {
    font-size: 18px;
    color: #E5E7EB;
}

*.button {
  align-self: flex-start;
  border: none;
  padding: 20px;
  padding-left: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button1 {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding:5px 25px;
}

.button1:active {
    background-color: #1F2937;
}

.resize {
    padding-right: 60px;
    max-width: 100%;
    max-height: 100%;
}

/* Section 3 */

.sec3 {
  background-color: white;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header3 {
  background-color: white;
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  margin:25px;
}

.boxarrange {
    display:flex;
    background-color: white;
}

.boxarrange1 {
  display:flex;
  flex-direction:column;
  background-color:white;
  margin: 15px;
  }

.box1 {
  height:100px;
  width: 100px;
  background-color:white;
  border: 4px solid #3882F6;
  border-radius: 10px;
  }
  
  .textsec3 {
    display:flex;
    flex-wrap:wrap;
    width:100px;
    background-color:white;
    margin-top:2px;
    text-align: center;
  }

/* section 4 */

.sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 75px;
    max-width: 500px;
    text-align: justify;
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
}

.signature {
    background-color: #E5E7EB;
    padding-left: 410px;
    align-self: center;
    text-align:right;
    font-weight: bold;
    padding-bottom: 75px;
}